dotted==0.1.8
google-api-python-client
google-cloud-storage==1.27.0
gpiozero==1.5.1
numpy==1.18.3
opencv-contrib-python==4.1.0.25  # norot
picamera==1.13
pigpio==1.46
piny==0.6.0
requests==2.23.0
RPi.GPIO==0.7.0
